[submodule ".themes/cleanpress"]
	path = .themes/cleanpress
	url = https://github.com/macjasp/cleanpress.git
[submodule ".themes/cleanpress-modern"]
	path = .themes/cleanpress-modern
	url = https://github.com/seabre/cleanpress-modern.git
